@font-face {
    font-family: reverance;
    src: url('../font/AGReverance_Oblique.ttf')
}

@font-face {
    font-family: concepto;
    src: url('../font/a_ConceptoTitulNrB&W.ttf')
}

.icon {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

.logo img
{
    -webkit-user-drag: none;
}

body 
{
    margin: 0;
    font-family: reverance;
    background-color: #000000;
    scroll-behavior: smooth;
}

main 
{
    padding: 90px;
}

nav 
{
    margin: 0;
    margin-left: 10%;
    display: inline-block;
    background-color: #000;
}

nav ul 
{
    list-style: none;
    padding: 0;
}

nav li 
{
    display: inline;
}

.button {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover 
{
    background-color: #0E8388;
}

a 
{
    font-size: 24px;
    color: #0E8388;
    text-decoration: none;
    transition: 0.34s cubic-bezier(0.165, 0.84, 0.44, 1);
} a:hover
{
    color: #86cce7;
    transition: 0.34s cubic-bezier(0.165, 0.84, 0.44, 1);
}

li a:hover 
{
    color: #000;
    transition: 0.14s cubic-bezier(0.165, 0.84, 0.44, 1);
}

p 
{
    font-size: 24px;
    margin-left: 4px;
    color: #dee7e5;
}

h1, h2, h3, h4, h5, h6 
{
    font-family: concepto;
    color: #fff;
    font-size: 64px;
}

#hi 
{
    text-align: center;
}

.hero, .content 
{
    padding: 0 15%;
    margin: 20px 0;
}

.carousel 
{
    margin: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 1);
    background-color: #000;
}

.carousel__item 
{
    background: #000;
    padding: 8px;
    font-size: 22px;
    color: #fff;
    animation: fadeOut 1s ease-out;
    display: none;
}

.carousel__item img 
{
    width: 100%;
    height: auto;
}

.carousel__item--selected
{
    display: block;
    animation: fadeIn 1s cubic-bezier(0.200, 0.180, 0.090, 0.795);
}

@keyframes fadeIn {
    from {
        transform: translateY(-40%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.carousel__nav 
{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: center;
}

.carousel__button
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgba(50, 50, 50, 1);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected
{
    background: rgba(111, 111, 111, 1);
}

@media (max-width: 1200px) 
{
    .logo
    {
        display: none;
    }

    .image-row 
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-row img 
    {
        margin-right: 0;
        margin-bottom: 10px;
    }

    main 
    {
        padding: 0%;
    }

    nav 
    {
        padding: 0%;
        display: inline-block;
        background-color: #000;
    }

    .carousel 
    {
        margin: 0%;
        padding: 0%;
    }

    nav li 
    {
        margin-right: 10px;
    }

    h1, h2, h3, h4, h5, h6 
    {
        font-size: 30px;
    }

    .hero, .content 
    {
        padding-left: 3%;
        padding-right: 3%;
    }

    .icon
    {
        display: none;
    }

    .carousel__nav 
    {
    display: none;
    }
}